doctype html

html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,300italic,400italic,100,100italic,300,500,500italic,700,700italic,900italic,900")
		script(src="https://maps.googleapis.com/maps/api/js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		script(src="javascripts/main.js")
		
	body
		div#map
		div#data
		
		